USE [master]
GO
/****** Object:  Database [WebHSDb]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE DATABASE [WebHSDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebHSDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\WebHSDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebHSDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\WebHSDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebHSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebHSDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Icon] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Amenities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Bio] [nvarchar](500) NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[Address] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockedDates]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockedDates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[HomestayId] [int] NOT NULL,
 CONSTRAINT [PK_BlockedDates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CheckInDate] [datetime2](7) NOT NULL,
	[CheckOutDate] [datetime2](7) NOT NULL,
	[NumberOfGuests] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[FinalAmount] [decimal](10, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[HomestayId] [int] NOT NULL,
	[PromotionId] [int] NULL,
	[ReviewComment] [nvarchar](1000) NULL,
	[ReviewCreatedAt] [datetime2](7) NULL,
	[ReviewIsActive] [bit] NOT NULL,
	[ReviewRating] [int] NULL,
	[ReviewUpdatedAt] [datetime2](7) NULL,
	[HostReply] [nvarchar](1000) NULL,
	[HostReplyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User1Id] [nvarchar](450) NOT NULL,
	[User2Id] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMessageAt] [datetime2](7) NOT NULL,
	[LastMessage] [nvarchar](max) NULL,
	[LastMessageSenderId] [nvarchar](450) NULL,
	[IsArchived] [bit] NOT NULL,
	[HomestayId] [int] NULL,
	[BookingId] [int] NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomestayAmenities]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomestayAmenities](
	[HomestayId] [int] NOT NULL,
	[AmenityId] [int] NOT NULL,
 CONSTRAINT [PK_HomestayAmenities] PRIMARY KEY CLUSTERED 
(
	[HomestayId] ASC,
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomestayImages]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomestayImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](200) NULL,
	[IsPrimary] [bit] NOT NULL,
	[Order] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[HomestayId] [int] NOT NULL,
 CONSTRAINT [PK_HomestayImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomestayPricings]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomestayPricings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HomestayId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HomestayPricings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Homestays]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Homestays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[ZipCode] [nvarchar](20) NOT NULL,
	[Latitude] [decimal](10, 8) NOT NULL,
	[Longitude] [decimal](11, 8) NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[MaxGuests] [int] NOT NULL,
	[Bedrooms] [int] NOT NULL,
	[Bathrooms] [int] NOT NULL,
	[Rules] [nvarchar](2000) NULL,
	[IsActive] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[HostId] [nvarchar](450) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[YouTubeVideoId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Homestays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](450) NOT NULL,
	[ReceiverId] [nvarchar](450) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Type] [int] NOT NULL,
	[AttachmentUrl] [nvarchar](max) NULL,
	[AttachmentFileName] [nvarchar](max) NULL,
	[HomestayId] [int] NULL,
	[BookingId] [int] NULL,
	[ConversationId] [int] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageTemplates]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[Type] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[HostId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MessageTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [nvarchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[BookingId] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [int] NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NULL,
	[MaxDiscountAmount] [decimal](18, 2) NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotifications]    Script Date: 10/28/2025 3:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AcceptedAt] [datetime2](7) NULL,
	[AcceptedBy] [nvarchar](max) NULL,
	[ConversationId] [int] NULL,
	[IsAccepted] [bit] NOT NULL,
	[RequesterEmail] [nvarchar](max) NULL,
	[RequesterId] [nvarchar](max) NULL,
	[RequesterName] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250609104718_FixedShadowPropertiesMapping', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250609114232_RemoveReviewTable', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250610113906_RemoveAddressTables', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([Id], [Name], [Description], [Icon], [IsActive], [CreatedAt]) VALUES (1, N'WiFi miễn phí', N'Internet tốc độ cao', N'fas fa-wifi', 1, CAST(N'2025-06-09T11:52:41.4605933' AS DateTime2))
INSERT [dbo].[Amenities] ([Id], [Name], [Description], [Icon], [IsActive], [CreatedAt]) VALUES (2, N'Điều hòa', N'Hệ thống điều hòa nhiệt độ', N'fas fa-snowflake', 1, CAST(N'2025-06-09T11:52:41.4607746' AS DateTime2))
INSERT [dbo].[Amenities] ([Id], [Name], [Description], [Icon], [IsActive], [CreatedAt]) VALUES (3, N'Tivi', N'TV màn hình phẳng', N'fas fa-tv', 1, CAST(N'2025-06-09T11:52:41.4607750' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] ON 

INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (1, N'11e513b0-b43d-452f-b9df-1d55b70e4133', N'can_manage_users', N'true')
INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (2, N'11e513b0-b43d-452f-b9df-1d55b70e4133', N'can_manage_roles', N'true')
INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (3, N'11e513b0-b43d-452f-b9df-1d55b70e4133', N'can_view_reports', N'true')
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'11e513b0-b43d-452f-b9df-1d55b70e4133', N'Admin', N'ADMIN', N'ec6f5a15-5406-4402-ba19-f0d4fceb133d')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'27c7b77e-f7b1-494d-8100-b667fadb7a8e', N'Host', N'HOST', N'648ef2cb-dc34-4187-9f51-2c02c83d353b')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'dd5ba039-47bc-4431-95f6-5c4291d7fa7d', N'User', N'USER', NULL)
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (1, N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'can_manage_users', N'true')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (2, N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'can_manage_roles', N'true')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (3, N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'can_view_reports', N'true')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'109550104891801608220', N'Google', N'a26ecf3e-52d0-4030-ba5a-adb6e028b3e5')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'109850127142086116810', N'Google', N'15e6bc7f-2adb-441d-9080-1f61c836c43d')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'114239509583064296285', N'Google', N'cffd8cef-4370-43f0-bbdc-996ca99939e9')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'11e513b0-b43d-452f-b9df-1d55b70e4133')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'15e6bc7f-2adb-441d-9080-1f61c836c43d', N'27c7b77e-f7b1-494d-8100-b667fadb7a8e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'61bf32c2-3b90-4cb3-9200-56deb9019e7d', N'27c7b77e-f7b1-494d-8100-b667fadb7a8e')
GO
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'25120097-26bd-4e6b-af04-ef4fdbab60d2', N'[AspNetUserStore]', N'RecoveryCodes', N'2JX8J-T962D;MBYRD-G36FY;WV9RV-JDKH9;2B5G7-X4H73;8XNC7-YRB4D;D2BGP-QYTCY;MRDGJ-XBMV6;R5M7X-9QY6C;M7762-G52Y3;R6F74-CXFTT')
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'[AspNetUserStore]', N'RecoveryCodes', N'JV6TJ-WY82T;28C75-FXX8B;D86BX-J3Y3V;565DT-MJP4H;P66BC-HQGRM;8WQ6J-HYNVN;9YFMD-D768M;XP7QR-239WP;4WWRM-3VWQ9;8XW8P-64K2K')
GO
SET IDENTITY_INSERT [dbo].[BlockedDates] ON 

INSERT [dbo].[BlockedDates] ([Id], [Date], [Reason], [CreatedAt], [HomestayId]) VALUES (17, CAST(N'2025-07-02' AS Date), N'Booking #15 - 3 guests', CAST(N'2025-06-17T13:17:19.5920456' AS DateTime2), 2)
INSERT [dbo].[BlockedDates] ([Id], [Date], [Reason], [CreatedAt], [HomestayId]) VALUES (18, CAST(N'2025-07-03' AS Date), N'Booking #15 - 3 guests', CAST(N'2025-06-17T13:17:19.5942449' AS DateTime2), 2)
INSERT [dbo].[BlockedDates] ([Id], [Date], [Reason], [CreatedAt], [HomestayId]) VALUES (19, CAST(N'2025-07-04' AS Date), N'Booking #15 - 3 guests', CAST(N'2025-06-17T13:17:19.5966120' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[BlockedDates] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversations] ON 

INSERT [dbo].[Conversations] ([Id], [User1Id], [User2Id], [CreatedAt], [LastMessageAt], [LastMessage], [LastMessageSenderId], [IsArchived], [HomestayId], [BookingId]) VALUES (1, N'6a64425a-4abd-447a-8868-e574987d2f5a', N'61bf32c2-3b90-4cb3-9200-56deb9019e7d', CAST(N'2025-06-11T21:57:21.3814188' AS DateTime2), CAST(N'2025-10-24T10:02:15.5828969' AS DateTime2), N'hello', N'6a64425a-4abd-447a-8868-e574987d2f5a', 0, 4, NULL)
INSERT [dbo].[Conversations] ([Id], [User1Id], [User2Id], [CreatedAt], [LastMessageAt], [LastMessage], [LastMessageSenderId], [IsArchived], [HomestayId], [BookingId]) VALUES (2, N'61bf32c2-3b90-4cb3-9200-56deb9019e7d', N'6a64425a-4abd-447a-8868-e574987d2f5a', CAST(N'2025-06-11T14:57:29.8001375' AS DateTime2), CAST(N'2025-06-11T14:57:29.8435229' AS DateTime2), N'chào', N'6a64425a-4abd-447a-8868-e574987d2f5a', 0, 4, NULL)
INSERT [dbo].[Conversations] ([Id], [User1Id], [User2Id], [CreatedAt], [LastMessageAt], [LastMessage], [LastMessageSenderId], [IsArchived], [HomestayId], [BookingId]) VALUES (3, N'6a64425a-4abd-447a-8868-e574987d2f5a', N'b29da83a-69f8-442a-a756-b16470ea4ed7', CAST(N'2025-06-11T21:58:01.8486655' AS DateTime2), CAST(N'2025-10-23T15:05:05.9848959' AS DateTime2), N'aaa', N'6a64425a-4abd-447a-8868-e574987d2f5a', 0, 3, NULL)
SET IDENTITY_INSERT [dbo].[Conversations] OFF
GO
INSERT [dbo].[HomestayAmenities] ([HomestayId], [AmenityId]) VALUES (3, 1)
INSERT [dbo].[HomestayAmenities] ([HomestayId], [AmenityId]) VALUES (7, 1)
INSERT [dbo].[HomestayAmenities] ([HomestayId], [AmenityId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[HomestayImages] ON 

INSERT [dbo].[HomestayImages] ([Id], [ImageUrl], [Caption], [IsPrimary], [Order], [CreatedAt], [HomestayId]) VALUES (1, N'/images/placeholder-homestay.svg', NULL, 1, 1, CAST(N'2025-06-09T11:52:41.5977707' AS DateTime2), 1)
INSERT [dbo].[HomestayImages] ([Id], [ImageUrl], [Caption], [IsPrimary], [Order], [CreatedAt], [HomestayId]) VALUES (2, N'/images/placeholder-homestay.svg', NULL, 0, 2, CAST(N'2025-06-09T11:52:41.5979941' AS DateTime2), 1)
INSERT [dbo].[HomestayImages] ([Id], [ImageUrl], [Caption], [IsPrimary], [Order], [CreatedAt], [HomestayId]) VALUES (3, N'/images/placeholder-homestay.svg', NULL, 0, 3, CAST(N'2025-06-09T11:52:41.5979943' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[HomestayImages] OFF
GO
SET IDENTITY_INSERT [dbo].[HomestayPricings] ON 

INSERT [dbo].[HomestayPricings] ([Id], [HomestayId], [Date], [PricePerNight], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, 9, CAST(N'2025-06-26' AS Date), CAST(10902000.00 AS Decimal(10, 2)), NULL, CAST(N'2025-06-22T19:12:21.2313257' AS DateTime2), CAST(N'2025-06-22T19:12:21.2313258' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HomestayPricings] OFF
GO
SET IDENTITY_INSERT [dbo].[Homestays] ON 

SET IDENTITY_INSERT [dbo].[Homestays] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt], [IsRead], [ReadAt], [IsDeleted], [Type], [AttachmentUrl], [AttachmentFileName], [HomestayId], [BookingId], [ConversationId]) VALUES (1, N'6a64425a-4abd-447a-8868-e574987d2f5a', N'61bf32c2-3b90-4cb3-9200-56deb9019e7d', N'chào', CAST(N'2025-06-11T14:57:29.8244252' AS DateTime2), 0, NULL, 0, 0, NULL, NULL, 4, NULL, 2)
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt], [IsRead], [ReadAt], [IsDeleted], [Type], [AttachmentUrl], [AttachmentFileName], [HomestayId], [BookingId], [ConversationId]) VALUES (2, N'6a64425a-4abd-447a-8868-e574987d2f5a', N'b29da83a-69f8-442a-a756-b16470ea4ed7', N'chào', CAST(N'2025-06-11T14:58:05.9544059' AS DateTime2), 1, CAST(N'2025-06-11T14:58:27.5083044' AS DateTime2), 0, 0, NULL, NULL, 3, NULL, 3)
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt], [IsRead], [ReadAt], [IsDeleted], [Type], [AttachmentUrl], [AttachmentFileName], [HomestayId], [BookingId], [ConversationId]) VALUES (3, N'b29da83a-69f8-442a-a756-b16470ea4ed7', N'6a64425a-4abd-447a-8868-e574987d2f5a', N'2', CAST(N'2025-06-13T18:37:47.1730245' AS DateTime2), 1, CAST(N'2025-06-13T19:42:14.0762918' AS DateTime2), 0, 0, NULL, NULL, 3, NULL, 3)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageTemplates] ON 

SET IDENTITY_INSERT [dbo].[MessageTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [TransactionId], [Amount], [PaymentMethod], [Status], [Notes], [CreatedAt], [UpdatedAt], [CompletedAt], [UserId], [BookingId]) VALUES (1, N'TXN-20250609-2-5376a16a', CAST(16000000.00 AS Decimal(10, 2)), 3, 2, N'Thanh toán cho booking #2', CAST(N'2025-03-07T12:01:41.9575020' AS DateTime2), NULL, CAST(N'2025-03-07T13:32:41.9575020' AS DateTime2), N'6a64425a-4abd-447a-8868-e574987d2f5a', 2)
INSERT [dbo].[Payments] ([Id], [TransactionId], [Amount], [PaymentMethod], [Status], [Notes], [CreatedAt], [UpdatedAt], [CompletedAt], [UserId], [BookingId]) VALUES (2, N'TXN-20250609-7-975365ac', CAST(6400000.00 AS Decimal(10, 2)), 3, 2, N'Thanh toán cho booking #7', CAST(N'2025-03-11T12:07:41.9575020' AS DateTime2), NULL, CAST(N'2025-03-11T12:28:41.9575020' AS DateTime2), N'6a64425a-4abd-447a-8868-e574987d2f5a', 7)
INSERT [dbo].[Payments] ([Id], [TransactionId], [Amount], [PaymentMethod], [Status], [Notes], [CreatedAt], [UpdatedAt], [CompletedAt], [UserId], [BookingId]) VALUES (3, N'TXN-20250609-13-80707779', CAST(14400000.00 AS Decimal(10, 2)), 4, 2, N'Thanh toán cho booking #13', CAST(N'2025-05-21T12:47:41.9575020' AS DateTime2), NULL, CAST(N'2025-05-21T14:08:41.9575020' AS DateTime2), N'6a64425a-4abd-447a-8868-e574987d2f5a', 13)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserNotifications] ON 

INSERT [dbo].[UserNotifications] ([Id], [UserId], [Message], [Type], [IsRead], [CreatedAt], [AcceptedAt], [AcceptedBy], [ConversationId], [IsAccepted], [RequesterEmail], [RequesterId], [RequesterName]) VALUES (1, N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'User user1 (user1@webhs.com) muốn nhắn tin với Admin: "hello"', N'message_request', 0, CAST(N'2025-06-11T21:57:08.3339915' AS DateTime2), NULL, NULL, NULL, 0, N'user1@webhs.com', N'6a64425a-4abd-447a-8868-e574987d2f5a', N'User user1')
INSERT [dbo].[UserNotifications] ([Id], [UserId], [Message], [Type], [IsRead], [CreatedAt], [AcceptedAt], [AcceptedBy], [ConversationId], [IsAccepted], [RequesterEmail], [RequesterId], [RequesterName]) VALUES (2, N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'Host host1 (host1@webhs.com) muốn nhắn tin với Admin: "a"', N'message_request', 1, CAST(N'2025-06-11T21:58:35.7633546' AS DateTime2), CAST(N'2025-06-11T21:59:06.0344345' AS DateTime2), N'c1d32589-c80e-443c-9d6a-b13513b418ec', 4, 1, N'host1@webhs.com', N'b29da83a-69f8-442a-a756-b16470ea4ed7', N'Host host1')
INSERT [dbo].[UserNotifications] ([Id], [UserId], [Message], [Type], [IsRead], [CreatedAt], [AcceptedAt], [AcceptedBy], [ConversationId], [IsAccepted], [RequesterEmail], [RequesterId], [RequesterName]) VALUES (3, N'c1d32589-c80e-443c-9d6a-b13513b418ec', N'Thành Khùng (thanhhgth0204@gmail.com) muốn nhắn tin với Admin: "hai"', N'message_request', 1, CAST(N'2025-06-22T23:47:44.6017290' AS DateTime2), CAST(N'2025-06-22T23:53:11.0670608' AS DateTime2), N'c1d32589-c80e-443c-9d6a-b13513b418ec', 7, 1, N'thanhhgth0204@gmail.com', N'15e6bc7f-2adb-441d-9080-1f61c836c43d', N'Thành Khùng')
SET IDENTITY_INSERT [dbo].[UserNotifications] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Active_Created]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Active_Created] ON [dbo].[AspNetUsers]
(
	[IsActive] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlockedDates_Homestay_Date_Unique]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BlockedDates_Homestay_Date_Unique] ON [dbo].[BlockedDates]
(
	[HomestayId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_DateRange]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_DateRange] ON [dbo].[Bookings]
(
	[CheckInDate] ASC,
	[CheckOutDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Homestay_Status]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Homestay_Status] ON [dbo].[Bookings]
(
	[HomestayId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_PromotionId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_PromotionId] ON [dbo].[Bookings]
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Revenue_Report]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Revenue_Report] ON [dbo].[Bookings]
(
	[CreatedAt] ASC,
	[Status] ASC,
	[FinalAmount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_User_Status]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_User_Status] ON [dbo].[Bookings]
(
	[UserId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_BookingId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_BookingId] ON [dbo].[Conversations]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_HomestayId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_HomestayId] ON [dbo].[Conversations]
(
	[HomestayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_LastMessage]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_LastMessage] ON [dbo].[Conversations]
(
	[LastMessageAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Conversations_LastMessageSenderId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_LastMessageSenderId] ON [dbo].[Conversations]
(
	[LastMessageSenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Conversations_User2Id]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_User2Id] ON [dbo].[Conversations]
(
	[User2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Conversations_Users_Unique]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Conversations_Users_Unique] ON [dbo].[Conversations]
(
	[User1Id] ASC,
	[User2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomestayAmenities_AmenityId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomestayAmenities_AmenityId] ON [dbo].[HomestayAmenities]
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomestayImages_HomestayId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomestayImages_HomestayId] ON [dbo].[HomestayImages]
(
	[HomestayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomestayPricing_Homestay_Date_Unique]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HomestayPricing_Homestay_Date_Unique] ON [dbo].[HomestayPricings]
(
	[HomestayId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homestays_Active_Approved]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_Active_Approved] ON [dbo].[Homestays]
(
	[IsActive] ASC,
	[IsApproved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Homestays_City]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_City] ON [dbo].[Homestays]
(
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homestays_Coordinates]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_Coordinates] ON [dbo].[Homestays]
(
	[Latitude] ASC,
	[Longitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Homestays_Host_Active]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_Host_Active] ON [dbo].[Homestays]
(
	[HostId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homestays_IsActive]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_IsActive] ON [dbo].[Homestays]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homestays_IsApproved]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_IsApproved] ON [dbo].[Homestays]
(
	[IsApproved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Homestays_Location_Full]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_Location_Full] ON [dbo].[Homestays]
(
	[City] ASC,
	[State] ASC,
	[Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homestays_Price]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homestays_Price] ON [dbo].[Homestays]
(
	[PricePerNight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_BookingId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_BookingId] ON [dbo].[Messages]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Conversation_Time]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Conversation_Time] ON [dbo].[Messages]
(
	[ConversationId] ASC,
	[SentAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_HomestayId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_HomestayId] ON [dbo].[Messages]
(
	[HomestayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Messages_Sender_Receiver_Read]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Sender_Receiver_Read] ON [dbo].[Messages]
(
	[SenderId] ASC,
	[ReceiverId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SentAt]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SentAt] ON [dbo].[Messages]
(
	[SentAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Messages_Unread_Receiver]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Unread_Receiver] ON [dbo].[Messages]
(
	[ReceiverId] ASC,
	[IsRead] ASC,
	[SentAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MessageTemplates_HostId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MessageTemplates_HostId] ON [dbo].[MessageTemplates]
(
	[HostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Booking_Status]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Booking_Status] ON [dbo].[Payments]
(
	[BookingId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Financial_Report]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Financial_Report] ON [dbo].[Payments]
(
	[CreatedAt] ASC,
	[Status] ASC,
	[PaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_TransactionId_Unique]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_TransactionId_Unique] ON [dbo].[Payments]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_User_Status]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_User_Status] ON [dbo].[Payments]
(
	[UserId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_Active_Period]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_Active_Period] ON [dbo].[Promotions]
(
	[IsActive] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotions_Code_Unique]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Promotions_Code_Unique] ON [dbo].[Promotions]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotions_CreatedByUserId]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_CreatedByUserId] ON [dbo].[Promotions]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserNotifications_User_Read_Time]    Script Date: 10/28/2025 3:16:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserNotifications_User_Read_Time] ON [dbo].[UserNotifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ReviewIsActive]
GO
ALTER TABLE [dbo].[Homestays] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAccepted]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BlockedDates]  WITH CHECK ADD  CONSTRAINT [FK_BlockedDates_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlockedDates] CHECK CONSTRAINT [FK_BlockedDates_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Promotions_PromotionId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_AspNetUsers_LastMessageSenderId] FOREIGN KEY([LastMessageSenderId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_AspNetUsers_LastMessageSenderId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_AspNetUsers_User1Id] FOREIGN KEY([User1Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_AspNetUsers_User1Id]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_AspNetUsers_User2Id] FOREIGN KEY([User2Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_AspNetUsers_User2Id]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[HomestayAmenities]  WITH CHECK ADD  CONSTRAINT [FK_HomestayAmenities_Amenities_AmenityId] FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomestayAmenities] CHECK CONSTRAINT [FK_HomestayAmenities_Amenities_AmenityId]
GO
ALTER TABLE [dbo].[HomestayAmenities]  WITH CHECK ADD  CONSTRAINT [FK_HomestayAmenities_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomestayAmenities] CHECK CONSTRAINT [FK_HomestayAmenities_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[HomestayImages]  WITH CHECK ADD  CONSTRAINT [FK_HomestayImages_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomestayImages] CHECK CONSTRAINT [FK_HomestayImages_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[HomestayPricings]  WITH CHECK ADD  CONSTRAINT [FK_HomestayPricings_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomestayPricings] CHECK CONSTRAINT [FK_HomestayPricings_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [FK_Homestays_AspNetUsers_HostId] FOREIGN KEY([HostId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [FK_Homestays_AspNetUsers_HostId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_AspNetUsers_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_AspNetUsers_ReceiverId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_AspNetUsers_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_AspNetUsers_SenderId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Homestays_HomestayId] FOREIGN KEY([HomestayId])
REFERENCES [dbo].[Homestays] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Homestays_HomestayId]
GO
ALTER TABLE [dbo].[MessageTemplates]  WITH CHECK ADD  CONSTRAINT [FK_MessageTemplates_AspNetUsers_HostId] FOREIGN KEY([HostId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageTemplates] CHECK CONSTRAINT [FK_MessageTemplates_AspNetUsers_HostId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD  CONSTRAINT [FK_UserNotifications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNotifications] CHECK CONSTRAINT [FK_UserNotifications_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Booking_DateRange] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Booking_DateRange]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Booking_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Booking_DiscountAmount]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Booking_FinalAmount] CHECK  (([FinalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Booking_FinalAmount]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Booking_NumberOfGuests] CHECK  (([NumberOfGuests]>(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Booking_NumberOfGuests]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Booking_ReviewRating] CHECK  (([ReviewRating] IS NULL OR [ReviewRating]>=(1) AND [ReviewRating]<=(5)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Booking_ReviewRating]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Booking_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Booking_TotalAmount]
GO
ALTER TABLE [dbo].[HomestayPricings]  WITH CHECK ADD  CONSTRAINT [CK_HomestayPricing_PricePerNight] CHECK  (([PricePerNight]>=(0)))
GO
ALTER TABLE [dbo].[HomestayPricings] CHECK CONSTRAINT [CK_HomestayPricing_PricePerNight]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [CK_Homestay_Bathrooms] CHECK  (([Bathrooms]>=(0)))
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [CK_Homestay_Bathrooms]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [CK_Homestay_Bedrooms] CHECK  (([Bedrooms]>=(0)))
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [CK_Homestay_Bedrooms]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [CK_Homestay_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [CK_Homestay_Latitude]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [CK_Homestay_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [CK_Homestay_Longitude]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [CK_Homestay_MaxGuests] CHECK  (([MaxGuests]>(0)))
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [CK_Homestay_MaxGuests]
GO
ALTER TABLE [dbo].[Homestays]  WITH CHECK ADD  CONSTRAINT [CK_Homestay_PricePerNight] CHECK  (([PricePerNight]>=(0)))
GO
ALTER TABLE [dbo].[Homestays] CHECK CONSTRAINT [CK_Homestay_PricePerNight]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payment_Amount]
GO
USE [master]
GO
